/*
  Scriptaculous Wiki->GitHub Pages CSS
  Not much here for now.
*/

/*
  template.css
  Wiki content formatting
  Keeping this file separate so it can be easily swapped out if you 
  want to format your wiki content differently from the default.
*/

/* @section core */
body, html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px; /* -> 1em */
  margin: 0;
  padding: 0;
}

/* Lists */
 li { 
	cursor: move; 
	}
 ul {
	width: 200px;
	border: 1px solid gray;
	padding: 3px 3px 3px 20px;
 }

#content {
  margin: 0 auto;
  overflow: visible;
  width: 90%;
}

/* Links */
a:link {
  color: #4183c4;
  text-decoration: none;
}

a:hover, a:visited {
  color: #4183c4;
  text-decoration: underline;
}
